/*
===================
GENERAL / COMMONS
===================
*/

body {
    width: 85%;
    margin: auto;
    padding-top: 5%;
    font-size: 18px;
    color: #112F41;
    font-family: 'Lato', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #3B596A;
}

section {
    margin: 10% 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*
===================
MENU
===================
*/


/*NAV*/

nav {
    top: 0;
    left: 0;
    height: 7vh;
    background-color: #fff;
    box-shadow: none;
    font-family: 'Montserrat', sans-serif;
}

nav a {
    margin: 0 20px;
    font-size: .9rem;
}

nav .btn-flat {
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
    border: 1px solid #ffb300;
}

nav .btn-flat:hover {
    background-color: #ffb300;
}


/*
===================
HOME/about
===================
*/

.home {
    width: 80%;
    margin: 5% auto 10% auto;
}


/*
===================
WORK
===================
*/

.work h3 {
    margin: 4rem auto;
}

.work-item {
    margin-bottom: 5rem;
}

.work-item .item-logo {
    width: 80%;
    height: 25vw;
    margin: 10px auto;
    padding-top: 8%;
    text-align: center;
}

.item-logo img {
    width: 15%;
}

.work-item .item-info {
    width: 80%;
    margin: -5% auto 5% auto;
    padding: 2.5rem 3rem;
    z-index: 400;
    font-size: 1rem;
}

.yape .item-info {
    border: 0.3vw solid #b2dfdb;
}

.china .item-info {
    border: 0.3vw solid #ffca28;
}

.china img {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.ux .item-info {
    border: 0.3vw solid #26a69a;
}

.social .item-info {
    border: 0.3vw solid #ffab91;
}


/*
===================
CONTACT
===================
*/

.contact {
    margin: 2rem auto;
}


/*
===================
FOOTER
===================
*/

footer {
    min-height: 1px;
    height: 25vh;
    font-size: .9rem;
}

footer p {
    font-size: .8rem;
}