/*
===================
GENERAL / COMMONS
===================
*/

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #112F41;
    font-family: 'Montserrat', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    background-image: url(../assets/img/bg-img3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #3B596A;
}

.bg-darker {
    background: rgba(0, 0, 0, 0.8);
}

.bg-light {
    background-color: rgba(0, 0, 0, 0.35);
}

section {
    margin: 10% 0;
}

.row {
    margin-bottom: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa {
    color: #5c6bc0;
    transition: all 0.5s ease;
}

.fa:hover {
    color: #fff;
    transform: scale(1.5);
}


/*
===================
MENU
===================
*/


/*
blue-grey-text text-darken-3
*/


/*NAV*/

nav {
    top: 0;
    left: 0;
    height: 12vh;
    background: transparent;
    box-shadow: none;
    font-family: 'Montserrat', sans-serif;
    transition: all .7s ease;
}

nav a {
    font-size: 0.9rem;
    transition: all 0.5s ease;
}

nav img {
    width: 4.5rem;
    margin-top: 1.8rem;
    margin-right: 2rem;
}

nav .lang {
    margin-bottom: 2rem;
}

.lang p a {
    margin: 0 10px;
}

.nav-menu {
    margin-top: 1.5rem;
}

.nav-menu .hide-on-small-only {
    margin-right: 4rem;
}

.nav-menu .hide-on-small-only:hover {
    text-decoration: underline;
    font-size: 1.1rem;
}

nav .btn {
    font-family: 'Montserrat', sans-serif;
    background: #ffb300;
    margin-top: 5px;
    margin-right: 2px;
}

nav .btn:hover {
    background-color: #5c6bc0;
}


/*
===================
HOME/about
===================
*/

section#home {
    width: 95%;
    height: 75vh;
    margin: 8rem auto 0 auto;
    padding-top: 2rem;
}

.photo-info {
    text-align: center;
    width: 50rem;
    max-width: 95%;
    margin: 1rem auto 2rem auto;
    padding: 2rem 0 0.4rem 0;
}

.photo-info h3 {
    color: #fff;
    transition: all 0.5s ease;
}

.photo-info h3:hover {
    cursor: pointer;
    color: #5c6bc0;
}

.photo-info hr {
    margin: 3rem auto 1rem auto;
}

.photo-info h5 {
    margin: 1rem auto 2.5rem auto;
}

.photo-info .home-social a {
    margin: 0 10px;
    font-size: 1.8rem;
}

.text-home {
    text-align: center;
    padding: 3rem 2rem;
}

.text-home div.m3 {
    margin: 5rem auto;
}

.text-home p {
    padding-top: 2rem;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 2rem;
}

.text-home blockquote {
    font-style: italic;
}


/*
===================
Portfolio
===================
*/

section#work {
    margin: 2rem 0;
}

.work {
    width: 100%;
    background-color: #fff;
    padding-top: 1.2rem;
    margin-bottom: 0;
}

.work h4 {
    margin: 4rem auto;
    line-height: 80%;
}

.work h4 p {
    font-size: 1.1rem;
}

.work-item {
    margin-bottom: 5rem;
}

.work-item .item-logo {
    width: 95%;
    height: 15vw;
    margin: 5px auto;
    padding-top: 8%;
    text-align: center;
}

.item-logo img {
    width: 25%;
}

.item-info a {
    color: #5c6bc0;
}

.item-info a:hover {
    text-decoration: underline;
}

.work-item .item-info {
    width: 80%;
    margin: -10% auto 5% auto;
    padding: 3.5rem 1.8rem 2.5rem 1.8rem;
    z-index: 400;
    font-size: 1rem;
}

.yape .item-info {
    border: 0.3vw solid #7986cb;
}

.china .item-info {
    border: 0.3vw solid #ffca28;
}

.china img {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.ux .item-info {
    border: 0.3vw solid #9fa8da;
}


/*
===================
ABOUT
===================
*/

.about {
    margin-top: 3rem;
    padding: 4rem .6rem;
}

.about h4 {
    line-height: 80%;
    margin: 3rem auto 0 auto;
}

.about h4 p {
    font-size: 1.1rem;
}

.about h5 {
    margin: 2rem auto;
}

.about .skills {
    margin: 2rem auto;
    width: 28%;
}

.about .skills h6 {
    font-weight: 600;
    text-decoration: underline;
}

.about .skills li {
    font-size: 1.05rem;
}

.progress {
    background-color: #e0e0e0;
    height: 1.2vh;
}

.progress .determinate {
    background-color: #ffb300;
    height: 1.2vh;
}

.about .pre-work {
    margin-top: 4rem;
}

.about .pre-work .exp-item {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    padding: 1.2rem .4rem;
    border-radius: 25px;
}

.about .pre-work .exp-item div:first-child {
    border-left: .4rem solid #ffb300;
}

.about .pre-work .exp-item div {
    text-align: left;
}

.about .pre-work .exp-item div h6 {
    font-size: .9rem;
}


/*
===================
CV
===================
*/

.cv {
    margin: 0;
}

.cv-div {
    max-width: 100%;
    margin: 3rem auto;
    padding: 4rem;
}


/*
===================
CONTACT
===================
*/

.contact {
    margin: 2rem auto;
    text-align: center;
    padding: 3.5rem 2.5rem;
}

.contact-text {
    margin-top: .5rem;
    text-align: center;
}

.contact-text p {
    font-size: 1.1rem;
}

.contact-text p a {
    color: #5c6bc0;
}

.contact-text p a:hover {
    text-decoration: underline;
}

.cv div {
    text-align: center;
}

.contact .social a {
    font-size: 2.5rem;
    margin-left: 2rem;
    color: #5c6bc0;
}


/*
===================
FOOTER
===================
*/

footer {
    min-height: 1px;
    min-height: 1px;
    font-size: .9rem;
    padding: 5px 30px;
    background-color: rgba(0, 0, 0, 0.8);
}

footer p {
    font-size: 1rem;
}